.navbaritems {
  padding-left: 10px;
}

.nav-two {
  font-size: var(--details-fontsize);
}

.navbar {
  background-color: #c0c0c0;
  align-items: center;
  display: grid;
  grid-template-columns: 70px 1fr;
}

.nav-one:hover {
  filter: opacity(50%);
}
