@import "./mixins";

.covers-album {
  padding: 5px;
  img {
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }

  .back {
    background-color: grey;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }
}

.covers {
  @include flexCenter;
}

.covers-container {
  max-width: var(--covers-max-width);
}

.center-covers {
  @include flexCenter;
}

.album img:hover {
  filter: opacity(50%);
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
